<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- Bootstrap -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

		<!-- JQuery -->
		<script src="./static/jquery.min.js"></script>

		<!-- Select2 -->
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>	
		<title>{{ movie.title }} Celebrity Trivia Results!</title>
	</head>
	<body>
		<div class='container-fluid' style="background: lightgrey; padding:100px;">
			<h2> Results are In!</h2>
			<h3> Out of {{ score.num_answers }}, you got {{ score.num_correct }} correct! </h3>

			<div class='row'>
				{% for actor in all_choices %}
					<div class='col-sm'>
						<img src={{ actor.profile_pic or url_for('static', filename='img/default.png') }} style="width:200px; height:300px";/>
						<div class='form-check'>
							<label class='form-check-label' for='flexCheckDefault'>{{actor.name}}</label>
							{% if actor in right_choices %}
								<label> CORRECT </label>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
			<div class='row'>
				<form action='start_game' method='post'>
					<input type='hidden' id='movie-id-input' name='movie_id' value='{{ movie.id }}'/>
					<input type='submit' class='btn btn-primary' id='start-game-btn' value='Play Again'/>
				</form>
				<a class='btn btn-secondary' href={{ url_for('index') }}> Home </a>				
			</div>

		</div>
	</body>
</html>