{% extends "static/base.html" %}
{% block title %} {{ movie.title }} Celebrity Trivia! {% endblock %}
{% block content %}
<h2>{{ movie.title }} Celebrity Trivia!</h1>

<h2> Which of these actors were actually in the movie, {{ movie.title }}?</h2>
<p> Keep in mind that the number of correct answers is random!</p>

<form action='submit_game' method='post'>
	<input type='hidden' name='movie_id' value='{{ movie.id }}'/>
	<div class='row'>
		{% for actor in options %}
			<input type='hidden' name='{{ actor.name }}' value='{{ actor.id }}' />
			<div class='col-sm' style='text-align: center; margin: 20px;'>
				<img src={{ actor.profile_pic or url_for('static', filename='img/default.png') }} style="width:200px; height:300px";/>
				<div class='form-check' style="margin: auto; width:75%;">
					<input type='checkbox' class='form-check-input' name={{actor.id}} id='flexCheckDefault'>
					<label class='form-check-label' for='flexCheckDefault'>{{actor.name}}</label>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class='row' style='width:300px; display:block; margin: 20px auto;'>
		<input type='submit' class='btn btn-primary' id='start-game-btn' name='Submit'></button>				
		<a class='btn btn-secondary' href='{{ url_for('index') }}' style='margin-top:10px;'> Home </a>
	</div>
</form>
{% endblock %}
