{% extends "base.html" %}
{% block title %}Celebrity Movie Trivia Game!{% endblock %}

{% block content %}
<h1>Welcome to the Celebrity Movie Trivia Game!</h1>
<img src={{ url_for('static', filename='img/trivia.jpg') }} style="width:400px; height:200px; padding:20px 0px;";/>
<p>Test Your knowledge by choosing a movie from the search box and guessing which actors have appeared in that movie.</h2>

<div class='col-sm' style='margin-top:20px;'>
	<select data-placeholder="Search for a Movie..." id="movie-picker" style='width:300px;' name='movie'>
		<option></option>
	</select>
	<form action='start_game' method='post' style='display:inline-block;'>
		<input type='hidden' id='movie-id-input' name='movie_id'/>
		<input type='submit' class='btn btn-primary' id='start-game-btn' name='Start Game'></input>
	</form>
	<a class='btn btn-secondary' href='{{ url_for('score') }}'> Score </a>				
</div>

{% endblock %}
{% block scripts %}
<script>
	$(document).ready(function(){
		$("#movie-picker").select2({
			ajax: {
				type: 'get',
				delay: 250,
			    url: "movie_search",
			    data: function (params) {
			    	return params.term;
			    },
			    processResults: function(data) {
			    	return {results: data.results};
			    }
			},
		});

		$("#movie-picker").on('select2:select', function(e){
			var data = e.params.data;
			$("#movie-id-input").val(data['id']);
		});

	});	
</script>
{% endblock %}