{% extends "base.html" %}
{% block title %}Celebrity Movie Trivia Game Signup{% endblock %}
{% block content %}

<h2>Sign up here.</h2>

<div class='col-sm' style='margin-top:20px;'>
	<select class='custom-select' id="movie-picker" style='width:300px;' name='movie'></select>
	<form action='start_game' method='post' style='display:inline-block;'>
		<input type='hidden' id='movie-id-input' name='movie_id'/>
		<input type='submit' class='btn btn-primary' id='start-game-btn' name='Start Game'></input>
	</form>
	<a class='btn btn-secondary' href='{{ url_for('score') }}'> Score </a>				
</div>

{% endblock %}