{% extends "base.html" %}
{% block title %} Celebrity Trivia! Scoring {% endblock %}
{% block content %}
<h2>Scores</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Num Correct</th>
      <th scope="col">Num Incorrect</th>
      <th scope="col">Num Answers</th>
    </tr>
  </thead>
  <tbody>
  	{% for score in scores %}
    <tr>
      <th scope="row">{{ score.id }}</th>
      <td>{{ score.date }}</td>
      <td>{{ score.num_correct }}</td>
      <td>{{ score.num_incorrect }}</td>
      <td>{{ score.num_answers }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a class='btn btn-primary' href='{{ url_for('index') }}'> Home </a>				
{% endblock %}
